@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	overflow-x: hidden !important;
}
header {
	position: fixed;
	width: 100%;
}
header.sticky {
	padding: 1px;
	background-color: #2528309c;
}

.section_1 {
	background-image: url("assignment/restaurant.jpg");
	background-size: cover;
	height: 170vh;
}
img {
	width: 7em;
}
.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #02081b;
}
.nav {
	display: flex;
	flex-direction: row;
}
.nav_list {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	display: flex;
	flex-direction: row;
	font-size: 12px;
}

.tabs {
	display: flex;
	gap: 2em;
}
a {
	text-decoration: none;
	color: white;
	padding: 0 1em;
	font-family: sans-serif;
}
a:hover {
	color: blue;
}
.food_cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1em;
	margin-left: 50px;
}
.card {
	background-color: white;
	width: 14em;
	height: 17em;
	/* border-radius: 5px; */
	margin-top: 50px;
}
.card img {
	width: 13.5em;
	height: 9em;
	padding: 5px;
}
.card_menu {
	font-size: 21px;
	font-family: roboto;
}
.card_menu li {
	list-style: none;
	text-align: center;
	margin-top: 12px;
}
.heading {
	color: white;
	padding: 10.9%;
	display: flex;
	flex-direction: column;
	gap: 0;
}
.heading p {
	font-family: roboto;
	font-size: 40px;
	margin-top: 1em;
	margin-left: 1em;
}
.heading_h1 {
	font-family: roboto;
	font-size: 5em;
	margin-left: 0.5em;
	font-weight: bolder;
}
.section_2 {
	background-color: rgb(223, 213, 213);
	height: 25em;
}
.headings_section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.h1 {
	font-family: roboto;
	font-weight: bolder;
	font-size: x-large;
	margin-bottom: 2em;
	margin-top: 2em;
}
.h2 {
	font-family: roboto;
	font-size: medium;
	margin-bottom: 2em;
	text-align: center;
}
.headings_section img {
	width: 40em;
}
.section_3 {
	background-image: url("assignment/checked_menu.jpg");
	background-attachment: fixed;
	background-size: cover;
	height: 90vh;
	background-position: center;
}

.p_heading {
	font-size: 50px;
	font-family: roboto;
	color: white;
}
.sub_heading {
	font-size: 60px;
	font-weight: bolder;
	font-family: sans-serif;
	color: white;
	margin-bottom: 1em;
}
.words {
	font-family: roboto;
	color: gray;
	font-weight: bold;
	margin-bottom: 5em;
}
.statement {
	display: flex;
	flex-direction: column;
	margin: 0 10%;
	padding-top: 8em;
}

/* The actual popup */
.popup .popuptext {
	visibility: hidden;

	background-color: rgba(0, 0, 0, 0.664);
	/* color: orange; */

	text-align: center;
	border-radius: 6px;
	width: 40em;
	height: 40em;

	position: absolute;
	list-style: none;
	margin-left: 40em;
	margin-top: -30em;
	gap: 52px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: opacity 0.7s case-in-out;
	/* transition: opacity 0.7s case-out; */
}
.popup .popuptext ul {
	text-align: center;
	list-style: none;
	color: white;
	line-height: 45px;
}

/* Popup arrow */
.popup .popuptext::after {
	border-width: 5px;
	border-style: solid;
	/* border-color: #444 transparent transparent transparent; */
}

/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
	transition: opacity 0.7s case-in-out;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.popup {
	width: 15em;
	height: 5em;
	color: white;
	border: 0;
	background-color: orange;
	font-size: 15px;
	border-radius: 12px;
}
.section_4 {
	height: 45em;
	background-color: rgb(236, 234, 234);
}
.food_data {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row;
	width: 70em;
	justify-content: center;
	margin-left: 8em;
	gap: 0 3em;
}
.data_briefings {
	color: grey;
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	font-family: roboto;
	line-height: 1.3em;
	/* text-align: center; */
}
.data_header {
	font-size: 21px;
	color: slategrey;
	text-align: center;
	margin-bottom: 1em;
}

.data_card img {
	width: 200px;
	justify-content: center;
	margin-left: 37px;
	margin-bottom: 1em;
	margin-top: 5em;
}
.section_5 {
	background-image: url("assignment/bg21.jpg");
	background-size: cover;
	background-position: center;
	height: 35em;
	overflow-y: hidden;
}
.message {
	color: gray;
	line-height: 10em;
}
.mySlides {
	padding: 10em;
	text-align: center;
	color: white;
}
.section_6 {
	background-image: url("assignment/bg5.jpg");
	height: 480px;
	overflow-y: hidden;
}
.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10em;
	list-style: none;
	/* align-items: center; */
	/* margin-top: -5em; */
	justify-content: center;
}
.orders {
	text-align: center;
	color: gray;
	font-size: 20px;
	margin-top: 5em;
	font-family: "roboto";
	font-weight: 7px;
}
.numbers {
	font-size: 90px;
	color: black;
}

.section_7 {
	background-image: url("assignment/bg36.jpg");
	height: 47em;
	background-repeat: no-repeat;
	/* overflow-y: hidden; */
}
h2 {
	font-weight: 3;
	font-size: 59px;
	color: white;
}
.form_box {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 50px;
	align-items: center;
	justify-content: center;
}
form {
	margin-top: 5em;
}

.input-field {
	width: 500px;

	background: transparent;
	border-left: hidden;
	border-right: hidden;
}
.form-control {
	width: 500px;
	border-left: hidden;
	border-right: hidden;

	color: gray;
	height: 200px;

	font-size: 15px;

	background: transparent;
}

.form_btn {
	color: white;
	background-color: orange;
	outline: orange;
	width: 500px;
	height: 70px;
	margin-top: 35px;
	border-radius: 6px;
	font-size: 20px;
	font-weight: lighter;
}
.form_text {
	color: gray;
	margin-top: 30px;
}
.paragraph {
	color: white;
	font-size: 20px;
}
.form_icons {
	color: white;
	font-size: 20px;
	line-height: 50px;
}

.footer {
	background-color: #252830;
}
.footer_text {
	color: white;
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
}

.foot {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5em;
	justify-content: space-between;
	align-items: center;
}
.footer_icons li {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3em;
}
.footer_img {
	width: 2em;
	height: 2em;
}

/* media query */
/* for smaller screens like phones 600px down */
@media only screen and (max-width: 600px) {
	/* .nav_bar{ */

	/* margin-left:-70em; */

	/* } */
	.nav_list {
		position: fixed;
		left: -100%;
		top: 5rem;
		flex-direction: column;
		background-color: rgb(1, 1, 39);
		width: 20em;
		height: 20em;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		margin-left: 48em;
		margin-top: 7em;
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	}

	.nav_list.active {
		left: 0;
	}

	.tabs {
		margin-left: 9em;
		display: flex;
		flex-direction: column;
	}
	.hamburger {
		display: block;
		cursor: pointer;
		/* margin-left: -70em; */
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.heading {
		display: flex;
		margin-left: 69em;
		width: 45em;
		flex-direction: row;

		padding: 0;
	}
	.heading_h1 {
		width: 7em;
		font-size: 39px;
		margin-top: 5em;
		margin-left: -4em;
	}
	.heading p {
		font-size: 20px;
		margin-top: 8em;

		margin-left: 10em;
	}
	.section_1 {
		margin-left: -69em;
		height: 115em;
	}
	.food_cards {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-left: 45em;
		width: 70em;
	}
	.card {
		width: 27em;
		margin-left: 9em;
		height: 19em;
	}
	.card img {
		width: 26.5em;
		height: 12em;
	}
	.h2 {
		font-size: 14px;
	}
	.section_2 {
		height: 22em;
	}
	.section_2 img {
		width: 20em;
		margin-top: 2em;
	}
	.section_3 {
		height: 42em;
	}
	.popup .popuptext {
		margin-left: 0;
		width: 25em;
		height: 60em;
		margin-top: -48em;
	}
	.food_data {
		display: flex;
		flex-direction: column;
		margin-left: -17em;
	}
	.section_4 {
		height: 120em;
	}
	.section_6 .list {
		display: flex;
		flex-direction: column;
		gap: 0;
		flex-wrap: nowrap;
	}
	.section_6 {
		height: 90em;
	}
	.section_7 {
		height: 70em;
	}
	.form_box {
		width: 27em;
		margin-left: 2em;
	}
	.mySlides {
		width: 25em;
		margin-left: -8em;
	}
	.footer_icons li {
		display: flex;
		flex-direction: row;
		gap: 10px;
		margin-top: 1em;
	}
}

/* for smaller devices like portraits tablet and large phones 600px up */
@media only screen and (min-width: 600px) {
	.nav_list {
		position: fixed;
		left: -100%;
		top: 5rem;
		flex-direction: column;
		background-color: rgb(1, 1, 39);
		width: 20em;
		height: 20em;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		margin-left: 58em;
		/* margin-top: 2em; */
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	}

	.nav_list.active {
		left: 0;
	}

	.tabs {
		margin-left: 9em;
		display: flex;
		flex-direction: column;
	}
	.hamburger {
		/* position:absolute;  */
		display: block;
		cursor: pointer;
		/* left:70em; */
		/* margin-left: 70em; */
		/* width: 90em; */

		/* margin-top: 5em; */
		/* margin-left: 3em; */
		/* float: right; */
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.heading {
		display: flex;
		margin-left: 79em;
		width: 45em;
		flex-direction: row;

		padding: 0;
	}
	.heading_h1 {
		width: 7em;
		font-size: 39px;
		margin-top: 5em;
		margin-left: -4em;
	}
	.heading p {
		font-size: 20px;
		margin-top: 8em;

		margin-left: 10em;
	}

	.section_1 {
		margin-left: -78em;
		height: 136em;
	}
	.food_cards {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-left: 76em;
	}
	.card {
		width: 35em;
		margin-left: 2em;
		height: 24em;
	}
	.card img {
		width: 34.5em;
		height: 17em;
	}
	.h2 {
		font-size: 14px;
	}
	.section_2 {
		height: 25em;
	}
	.section_2 img {
		width: 30em;
		margin-top: 2em;
	}
	.section_3 {
		height: 42em;
	}
	.popup .popuptext {
		margin-left: 0;
		width: 25em;
		height: 60em;
		margin-top: -48em;
	}
	.food_data {
		display: flex;
		flex-direction: column;
		margin-left: -17em;
	}
	.section_4 {
		height: 120em;
	}
	.section_6 .list {
		display: flex;
		flex-direction: column;
		gap: 0;
		flex-wrap: nowrap;
	}
	.section_6 {
		height: 90em;
	}
	.section_7 {
		height: 70em;
	}
	.form_box {
		width: 34em;
		margin-left: 2em;
	}
	.mySlides {
		width: 25em;
		margin-left: -8em;
	}
	.footer_icons li {
		display: flex;
		flex-direction: row;
		gap: 10px;
		margin-top: 1em;
	}
}

/* medium devices landscape tablet 768px and up */
/* @media only screen and (min-width:768px){
	.nav_list{
		display:none;
	}
	.heading{
		display:flex;
		flex-direction: column;
		padding: 0;
		font-size: 0;
		gap: 1px;

	}
	.heading h1{
		font-size: 39px;
	
		margin-left:22em;
	
		font-size: 50px;
		padding: 0;
	}
	.heading p{
		font-size: 20px;
		margin-left: 52em;
	}
	.section_1{
		margin-left: -40em;
		height: 58em;
	}
	.food_cards{
		display: flex;
		flex-direction: row;
		margin-left: 29em;
		width: 70em;
		justify-content:center;

	}
	.card{
		width: 9em;
		margin-left: 1em;
		height: 20em;
	}
	.card img{
		width: 8.5em;
		height: 5em;
	}
	.h2{
     font-size: 14px;
	
	}
	.section_2{
		height: 24em;
	}
	.section_2 img{
		width: 30em;
		margin-top: 2em;
	}
	.section_3{
		height: 42em;
	}
.popup .popuptext{
	margin-left: 0;
	width: 25em;
	height:60em ;
	margin-top: -48em;
}
.food_data{
	display: flex;
	flex-direction:row;
	margin-left: 4em;
	width:40em;
}
.section_4{
	height: 70em;
}
.section_6 .list{
	display: flex;
	flex-direction: column;
	gap: 0;
	flex-wrap: nowrap;
	
	
}
.section_6{
	height: 90em;

}
.section_7{
	height: 70em;
	
}
.form_box{
	width:44em;
	margin-left:2em;

}
.mySlides{
width: 25em;
margin-left:-8em;
}
.foot{
	display: flex;
	flex-direction: column;
	gap: 2em;
	margin-top: 1em;


}
.footer_icons{
	display: flex;
	gap:1em;
}
} */
/* medium devices landscape tablet 992px and up */
/* @media only screen and (min-width:992px){
	.nav_list{
		display:none;
	}
	.heading{ 
	 padding: 10.9%;
		display: flex;
		flex-direction: column;
		padding: 0;
	}
.heading h1{
		font-size: 59px; 
display:flex;
flex-direction: column;
gap: 5px;
		 margin-left:10em; 

		padding: 0;
	} 
	.heading p{
		font-size: 20px;
		margin-left: 34em;
		padding: 0;
	}
	.section_1{
		margin-left: -10em;
		height: 62em;
	}
	.food_cards{
		display: flex;
		flex-direction: row;
		margin-left: 3.6em;
		width: 70em;
		justify-content:center;

	}
	.card{
		width: 12em;
		margin-left: 1em;
		height: 20em;
	}
	.card img{
		width: 11.5em;
		height: 10em;
	}
	.h2{
     font-size: 19px;
	
	}
	.section_2{
		height: 28em;
	}
	.section_2 img{
		width: 40em;
		margin-top: 2em;
	}
	.section_3{
		height: 42em;
	}
.popup .popuptext{
	margin-left: 0;
	width: 25em;
	height:60em ;
	margin-top: -48em;
}
.food_data{
	display: flex;
	flex-direction:row;
	margin-left: 1em;
	justify-content: center;
	width:58em;
}
.section_4{
	height: 50em;
}
.section_6 .list{
	display: flex;
	flex-direction: row;
	gap: 6em;
	flex-wrap: nowrap;
	
	
}
.section_6{
	height: 27em;

}
.section_7{
	height: 44em;
	
}
.form_box{
	width:94em;
	margin-left:-16em;
	display: flex;
	flex-direction: row;


}
.paragraph{
	font-size: 15px;
}
.form_icons{
	font-size: 15px;
}
.mySlides{
width: 45em;
margin-left:1em;
}
.foot{
	display: flex;
	flex-direction: row;
	margin-top: 1em;

}
.footer_icons{
	display: flex;
	gap:1em;
}
} */

/* extra large devices large laptops and desktops 1200px and up */
/* @media only screen and (min-width:1200px){
.nav_list{
	display: flex;

	margin-left: 1em;
}
.section_1{
	margin-left: 0;
	height: 170vh;
}
.heading h1{
margin-left: 3em;
}
.heading p{
	margin-left: -28em;
	margin-top: 10em;
}
.card{
	width: 15em;
	margin-left: 1em;
	height: 20em;
}
.card img{
	width:14.2em;
}
.food_cards{
	display: flex;
	flex-direction: row;
	margin-left:5em;
	width: 70em;
	align-items: center;
	justify-content:center;

}
.popup.popuptext {
	margin-left: 40em;
	width: 40em;
	height:10em ;
	margin-top: 12em;
}
.food_data{
	display: flex;
	flex-direction:row;
	margin-left: 10em;
	justify-content: center;
	/* width:88em; */

/* } */
/* .list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20em;

}
.form_box{
	width:94em;
	margin-left:-6em;
	display: flex;
	flex-direction: row;
}
.paragraph{
	font-size: 19px;
}
.footer_icons li{
	display: flex;
	gap:2em;

}
.foot{
	display: flex;
	flex-direction: row;
	gap: 15em;
	margin-top: 1em;
	

}
}  */
